<td><span class="mobile-title hidden-lg hidden-md hidden-sm">Creator</span>{{item.creator}}<span class="collapse-arrow hidden-lg hidden-md hidden-sm"><i class="ion-ios-arrow-down"></i></span></td>
<td ><span class="mobile-title hidden-lg hidden-md hidden-sm">Event</span>{{item.eventBody}}</td>
<td ><span class="mobile-title hidden-lg hidden-md hidden-sm">Created At</span>{{messages-faxes-data item.createdAt}}</td>