<td><span class="mobile-title hidden-lg hidden-md hidden-sm">Sender #</span> <i class="icon-noun-1050659-cc-copy"></i>
  <span>{{call-number-pretty-format message.caller}}</span></td>
<td><span class="mobile-title hidden-lg hidden-md hidden-sm">Received</span>{{messages-faxes-data message.createdAt}}
</td>
<td class="td-collapse"><span class="mobile-title hidden-lg hidden-md hidden-sm">Type</span>{{capitalize-text
  message.messageType}}</td>
<td><span class="mobile-title hidden-lg hidden-md hidden-sm">Action</span>
  <a class="action" href="#" onclick={{action 'toInbox'}}>Move to Inbox</a>
</td>